Pure.Data/SqlMap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="http://PureData.net/schemas/SqlMap.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://PureData.net/schemas/SqlMap.xsd"
  xmlns:vs="http://schemas.microsoft.com/Visual-Studio-Intellisense"
  vs:friendlyname="SqlMap Configuration Schema"
  vs:ishtmlschema="false"
  vs:iscasesensitive="true"
  vs:requireattributequotes="true"
  vs:defaultnamespacequalifier=""
  vs:defaultnsprefix=""
  >

  <xs:element name="Cache">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Parameter">
          <xs:complexType>
            <xs:attribute name="Key" type="xs:string" use="required" />
            <xs:attribute name="Value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="FlushInterval" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="Hours" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="Minutes" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="Seconds" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element name="FlushOnExecute">
          <xs:complexType>
            <xs:attribute name="Statement" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="Id" type="xs:string" use="required" />
      <xs:attribute name="Type" use="required" >
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Lru"/>
            <xs:enumeration value="Fifo"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Caches">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Cache" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Include">
    <xs:complexType mixed="true">
      <xs:attribute name="RefId" type="xs:string" use="required" />
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Case">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Default">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="1" minOccurs="0">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Switch">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="Case"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="Default"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Choose">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="When"  minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="Otherwise"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <!--<xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />-->
    </xs:complexType>
  </xs:element>
  <xs:element name="When">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Test" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Otherwise">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="1" minOccurs="0">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmpty">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEqual">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGreaterEqual">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGreaterThan">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLessEqual">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLessThan">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNotEmpty">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNotEqual">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="CompareValue" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNotNull">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="In" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNull">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTrue">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFalse">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProperty">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Where">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dynamic">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Variable">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Foreach">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>

      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="Property" type="xs:string" use="required" />
      <xs:attribute name="Open" type="xs:string" use="required" />
      <xs:attribute name="Separator" type="xs:string" use="required" />
      <xs:attribute name="Close" type="xs:string" use="required" />
      <xs:attribute name="Item" type="xs:string" use="required" />
      <xs:attribute name="Index" type="xs:string" use="optional" />
      
    </xs:complexType>
  </xs:element>
  <xs:element name="Bind">
    <xs:complexType mixed="true">
      <xs:attribute name="Name" type="xs:string" use="optional" />
      <xs:attribute name="Value" type="xs:string" use="required" />
      
    </xs:complexType>
  </xs:element>
  <xs:element name="Trim">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prefix" type="xs:string" use="optional" />
      <xs:attribute name="Suffix" type="xs:string" use="optional" />
      <xs:attribute name="PrefixOverrides" type="xs:string" use="optional" />
      <xs:attribute name="SuffixOverrides" type="xs:string" use="optional" />
    
    </xs:complexType>
  </xs:element>
  <xs:element name="Set">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice> 
    </xs:complexType>
  </xs:element>
  <xs:element name="If">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <!--<xs:attribute name="Prepend" type="xs:string" use="optional" />-->
      <xs:attribute name="Test" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Env">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      <xs:attribute name="Prepend" type="xs:string" use="optional" />
      <xs:attribute name="DbProvider" type="xs:string" use="optional" />
      <xs:attribute name="DbType" use="optional" >
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="SqlServer"/>
            <xs:enumeration value="SqlCe"/>
            <xs:enumeration value="PostgreSQL"/>
            <xs:enumeration value="MySql"/>
            <xs:enumeration value="Oracle"/>
            <xs:enumeration value="SQLite"/>
            <xs:enumeration value="Access"/>
            <xs:enumeration value="OleDb"/>
            <xs:enumeration value="Firebird"/>
            <xs:enumeration value="DB2"/>
            <xs:enumeration value="DB2iSeries"/>
            <xs:enumeration value="SybaseASA"/>
            <xs:enumeration value="SybaseASE"/>
            <xs:enumeration value="SybaseUltraLite"/>
            <xs:enumeration value="DM"/> 
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderBy">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
      </xs:choice>
      
    </xs:complexType>
  </xs:element>
  <xs:element name="Statement">
    <xs:complexType mixed="true">
      <xs:choice  minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="IsEmpty" />
        <xs:element ref="IsEqual" />
        <xs:element ref="IsGreaterEqual" />
        <xs:element ref="IsGreaterThan" />
        <xs:element ref="IsLessEqual" />
        <xs:element ref="IsLessThan" />
        <xs:element ref="IsNotEmpty" />
        <xs:element ref="IsNotEqual" />
        <xs:element ref="IsNotNull" />
        <xs:element ref="IsNull" />
        <xs:element ref="Include" />
        <xs:element ref="Switch" />
        <xs:element ref="IsTrue" />
        <xs:element ref="IsFalse" />
        <xs:element ref="IsProperty" />
        <xs:element ref="Where" />
        <xs:element ref="Dynamic" />
        <xs:element ref="Foreach" />
        <xs:element ref="Env" />
        <xs:element ref="Variable" />
        <xs:element ref="Bind" />
        <xs:element ref="Choose" />
        <xs:element ref="If" />
        <xs:element ref="Trim" />
        <xs:element ref="Set" />
        <xs:element ref="OrderBy" />
      </xs:choice>
      <xs:attribute name="Id" type="xs:string" use="required" />
      <xs:attribute name="Cache" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Statements" >
    <xs:complexType mixed="true">
      <xs:choice  minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="Statement"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="SqlMap">
    <xs:complexType mixed="true">
      <xs:all >
        <xs:element ref="Caches" minOccurs="0"  maxOccurs="1"/>
        <xs:element ref="Statements"  minOccurs="0"  maxOccurs="1"/>
      </xs:all>
      <xs:attribute name="Scope" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
